.meet-dashboard {
    width: 70.54vw;
    height: 70.8vh;
    background-color: #ffffff;
    border-radius: 6vh;
}
.meet-cards {
    padding: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
