.meet-dashboard {
    width: 71vw;
    height: 71vh;
    background-color: #ffffff;
    border-radius: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.meet-cards {
    padding: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
