.meet-dashboard {
    width: 71vw;
    height: 71vh;
    background-color: #ffffff;
    border-radius: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: auto;
}
.meet-cards {
    padding: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pseudo{
  height: 0;
  width: 22vh;
  margin: 3vh;
  margin-top: 3vh;
  content: "";
}
.outer-container-meeting-card{
  border-radius: 6vh;  
  overflow: hidden;
  width: 71vw;
}
