.day-block{
	width: 67vw;
	height: 7vh;
	background-color: #C4C4C4;
	border-radius: 2vh;
	text-align: center;
}
.inner-container-for-calendar{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.day-text{
	font-family: Montserrat, Sans Serif;
	margin-top: 1.8vh;
	margin-bottom: 0;
	font-size: 1.5vw;
}

