.side-menu{
	height: 94vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #047082;
	z-index: 0;
}
.container-side-menu-left{
	position: fixed;
	width: 20vw;
	flex-direction: column;
	justify-content: flex-end;
}

.show-left{
	transition: 0.2s;
	left:0;
}

.hide-left {
	visibility: hidden;
	transition: 0.2s;
	left: -20%;
}
