
.task-column{
    position: relative;
    height: 55vh;
    width: 15vw;
    background: #C4C4C4;
    border-radius: 3vh;
    margin: 0.8vw;
    padding-bottom: 1vh;
    z-index: 0;
    flex-wrap: wrap;
    overflow: scroll;
}
.column-status{
    position: relative;
    width: 11vw;
    height: 3.5vh;
    font-family: Montserrat, Sans Serif;
    font-size: 1.5vw;
    text-align: center;
    background: #FFFFFF;
    border-radius: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 0;
}

.column-heading{
    position: relative;
    text-align: center;
    width: 10vw;
    height: 4vh;
    margin-left: 2vw;
    z-index: 0;
}

.task-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 45vh;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");


