.side-menu{
	height: 94vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #047082;
	z-index: 0;
	background: #047082;
}
.container-side-menu-right{
	position: fixed;
	width: 20%;
	flex-direction: column;
	justify-content: flex-end;
}

.show-right{
	right: 0;
	transition: 0.2s;
}

.hide-right{
	visibility: hidden;
	transition: 0.2s;
	right: -20%;
}

