.task-dashboard {
  width: 71vw;
  height: 71vh;
  background-color: #ffffff;
  border-radius: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: auto;
}
.task-columns {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pseudo {
  height: 0;
  width: 22vh;
  margin: 3vh;
  margin-top: 3vh;
  content: "";
}
.outer-container {
  border-radius: 6vh;
  overflow: hidden;
}
