.task-board {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

