#nav {
	position: fixed;
	overflow: hidden;
	margin: 0;
	top: 0;
	width: 100%;
	padding: 0;
	background-color: #047082;
	height: 6vh;
}

.container-navbar, span{
	text-align: center;
}

.app-title{
	position: relative;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 4vh;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
}

.left-hamburger{
	position: fixed;
	left: 0vh;
	top: 0vh;
	padding: 0vh;
	border: none;
	font-size: 0vh;
	background: transparent;
	height:5vh;
	width: 5vh;
	margin: 1vh 2vh;
	margin-top: 0.3vh;
	background-image: url('https://ik.imagekit.io/m52sq26n4h/icons8-menu-50__2_.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
.left-hamburger:hover{
	background-image: url('https://ik.imagekit.io/m52sq26n4h/icons8-menu-50__1_.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
.right-hamburger{
	position: fixed;
	right: 0vh;
	top: 0vh;
	padding: 0vh;
	border: none;
	font-size: 0vh;
	width: 5vh;
	height:5vh;

	margin: 1vh 2vh;
	margin-top: 0.3vh;
	cursor: pointer;
	background-image: url('https://ik.imagekit.io/m52sq26n4h/icons8-menu-50__2_.png');
	background-repeat: no-repeat;
}
.right-hamburger:hover{
	background-image: url('https://ik.imagekit.io/m52sq26n4h/icons8-menu-50__1_.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

div#nav{
	margin-bottom: 0vh
}

.left-hamburger, .right-hamburger:hover{
	font-color: #00C4C4;
}