#nav {
	position: fixed;
	overflow: hidden;
	margin: 0;
	top: 0;
	width: 100%;
	padding: 0;
	height: 6vh;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #310887;
	/* 4dp — Elevation */
}

.container-navbar, span{
	text-align: center;
}
.container-navbar{
	margin-top: 10px;
}

.app-title{
	position: relative;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 4vh;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
}

.left-hamburger{
	position: fixed;
	left: 0vh;
	padding: 0vh;
	border: none;
	font-size: 0vh;
	background: transparent;
	height:5vh;
	width: 5vh;
	margin: 1vh 2vh;
	margin-top: 0.75vh;
	background-image: url('https://ik.imagekit.io/m52sq26n4h/icons8-menu-50__2_.png');
	background-repeat: no-repeat;
	cursor: pointer;
	background-size: 5vh 5vh;
}

.right-hamburger{
	position: fixed;
	right: 0vh;
	top: 0vh;
	padding: 0vh;
	border: none;
	font-size: 1rem;
	width: 5vh;
	height:5vh;
	margin: 1vh 2vh;
	margin-top: 0.3vh;
	cursor: pointer;
	background-image: url('https://ik.imagekit.io/m52sq26n4h/icons8-menu-50__2_.png');
	background-repeat: no-repeat;
	background-size: 5vh 5vh;
}


div#nav{
	margin-bottom: 0vh
}

