.card-title {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 2.575vh;
	color: #000000;
}

.card-date {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 80%;
	color: #000000;
}
.card-container {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 2.5vh;
	max-height: 23vh;
	position: relative;
}
.card-venue {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 80%;
	color: #000000;
}
.card-description {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 80%;
	color: #000000;
	text-decoration: none;
}

.icons-meeting {
	cursor: pointer;
}
.flippy-container * {
	box-sizing: border-box;
}
.card-content {
	margin-bottom: 2vh;
}
.frontcard {
	width: 24vh;
	height: 25vh;
	background: #c4c4c4;
	border-radius: 3vh;
	font-size: 2.5vh;
	text-align: center;
}
.backcard{
	width: 24vh;
	height: 25vh;
	background: #c4c4c4;
	box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.5);
	border-radius: 3vh;
	font-size: 2.5vh;
	text-align: center;
}
.accept-icon{
	height: 2.5vh;
	width: 2.5vh;
	cursor: pointer;
	float: right;
}
.reject-icon{
	height: 2.5vh;
	width: 2.5vh;
	cursor: pointer;
	float: left;
}
.acknowledged-list{
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	display: contents;
	font-weight: normal;
	font-family: "Montserrat", sans-serif;
	font-size: 80%;
	overflow-y: scroll;
	line-height: 3vh;
}
.up-arrow{
	height:1vh;
	width:1vh;
	cursor: pointer;
}
.down-arrow{
	height:1vh;
	width:1vh;
	cursor: pointer;
}
div.scroll-arrows{
	right: 0px;
}
.card-content{
	margin: 3vh;
	padding-bottom: 1vh;
}
.frontcard, .backcard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.acknowledged-list-container{
	padding: 1.3vh;
	margin: 0.5vh;
	/*border: 0.5px solid black;*/
	height: 15vh;
	overflow: auto;
}