body {
  background-color: #0186a6;
  margin-top: 6vh;
}

.blur-background{
	transition: 0.2s;
	filter: blur(20px);
}

.sharp-background {
  transition: 0.2s;
  filter: blur(0px);
}

.container-app {
  position: absolute;
  width: 100vw;
  height: 94vh;
  z-index: -1;
}

.container-app-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 9.5vh;
  max-width: 100vw;
  height: 71vh;
}

.left-dashboard{
  transition: 0.2s;
  height: 71vh;
  width: 71vw;
  overflow: hidden;
  background-color: white;
  border-radius: 0px 6vh 6vh 0px;
  margin-right: 6vw;
  float: left;
  left: -63vw;
}

.current-dashboard{
  transition: 0.2s;
  width: 71vw;
  height: 71vh;
  display: inline;
}

.right-dashboard{
  transition: 0.2s;
  height: 71vh;
  width: 71vw;
  overflow: hidden;
  background-color: white;
  border-radius: 6vh 0px 0px 6vh;
  float: right;
  margin-left: 6vw;
  top: 0;  
  display: inline;
  right: -63vw;

}

.background-for-dashboard {
    width: 71vw;
    height: 71vh;
    background-color: #ffffff;
    border-radius: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.outer-container-dashboard{
  border-radius: 6vh;  
  overflow: hidden;
  width: 71vw;
}

.slide-status{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slide-pagination{
  height: 1vh;
  width: 1vh;
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 50%;
  margin: 1vw;
  margin-top: 2vh;
  transition: 0.2s;
}
.current-slide{
  transition: 0.2s;
  height: 1vh;
  width: 2vw;
  border-radius: 2vh;
  background-color: #C4C4C4;
  opacity: 0.8;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
