body {
  background-color: #0186a6;
  margin-top: 6vh;
}

.blur-background{
	transition: 0.2s;
	filter: blur(20px);
}

.sharp-background{
	transition: 0.2s;
	filter: blur(0px);
}

.container-app {
  position: absolute;
  width: 100vw;
  height: 94vh;
  z-index: -1;
}

.meeting-dashboard{
  width: 71vw;
  height: 71vh;
  padding-left: 14.5vw;
  padding-right: 14.5vw;
  padding-top: 10.5vh;
  padding-bottom: 11.5vh;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

