body {
  background-color: #0186a6;
  margin-top: 6vh;
}

.blur-background{
	transition: 0.2s;
	filter: blur(20px);
}

.sharp-background{
	transition: 0.2s;
	filter: blur(0px);
}

.container-app {
  z-index: -1;
}

.meeting-dashboard{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

